<div class="container" style="padding-top:60px;">  
  <div class="row d-flex">  
    <div class=" col-md-9 mx-auto">  
      <div class="card-group">  
        <div class="card ">  
          <div class="card-body" >  
            <form name="form" (ngSubmit)="search()" #f="ngForm">   
              <h1 style="text-align:center">Search Places</h1>  
              <div class="form-group col-md-6">  
                  <div class="alert alert-danger" 
                    *ngIf="CategoryType.touched && !CategoryType.valid">Enter a place to search</div>
              </div>
              <div class="form-inline ">  
                <div class="form-group col-md-6">  
                  
                  <input  type="text" #CategoryType="ngModel" 
                           name="CategoryType" [(ngModel)]="model.CategoryType"
                          class="form-control col-md-12 sty1" 
                          placeholder="enter place to search" required ngModel>  
                
                </div>  
                <div class="d-flex flex-row col-md-4 "> 
                  <label >Distancia en Km:</label>
                  <ng5-slider [(value)]="value" 
                  [options]="options">
                </ng5-slider>
                  
                  
                </div>
                <div class="form-group"> 
                  <button type="submit" [disabled]="!f.valid" class="btn btn-primary px-4">Search</button>  
                 </div>
              </div>
            <br>
              <div class="row d-flex ">  
                    <div *ngFor="let place of places">
                      
                        
                              <div class="card-group">  
                                  <div class="card" style="width: 16rem;">
                                      <img class="card-img-top" src="{{place.imgUrl}}" style="width:254px;height:250px;" alt="Card image cap">
                                      <div class="card-body">
                                        <h5 class="card-title">{{place.nombre}}</h5>
                                        <p class="card-text">{{place.direccion}}</p>
                                        <p class="card-text">Distancia {{place.distancia}} Km</p>
                                      </div>
                                  </div>
                                </div>
                    </div>
               </div>
              <div>  
                  <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">  
                    {{errorMessage}}  
                  </p>  
                </div>  
              
                
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  
</div>  