<div class="container" style="padding-top:60px;">  
    <div class="row">  
      <div class="col-md-6 mx-auto">  
        <div class="card-group">  
          <div class="card p-4">  
            <div class="card-body">  
              <form name="form" (ngSubmit)="login()" #f="ngForm">   
                <h1 style="text-align:center">Login</h1>  
                 
                <div class="input-group mb-3">  
                  
                  <input type="text"  #username="ngModel" name="username" [(ngModel)]="model.username" class="form-control sty1" 
                      placeholder="username" required ngModel>  
                 
                </div>  
                <div class="input-group mb-3 ">
                  <div class="alert alert-danger" *ngIf="username.touched && !username.valid">Username is required</div>
                </div>
                <div class="input-group mb-4">  
                  
                  <input  type="password" #password="ngModel" name="password" [(ngModel)]="model.password" class="form-control"  
                 placeholder="password" required ngModel>  
                 
                </div>  
                <div class="input-group mb-4">  
                    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">Password is required</div>
                </div>
                <div>  
                    <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">  
                      {{errorMessage}}  
                    </p>  
                  </div>  
                <div class="row">  
                  <div class="col-6">  
                    <button type="submit" [disabled]="!f.valid" class="btn btn-primary px-4">Login</button>  
                  </div>  
                
                </div>  
                  
              </form>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  